:root {
  --prm-color: #0381ff;
  --prm-gray: #b1b1b1;
}

.container_items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CSS */
.steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

.step-button {
  color: #0381ff;
  font-weight: 500;
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #0381ff;
  background-color: #fff;
  transition: 0.4s;
}

.step-button[aria-expanded="true"] {
  width: 40px;
  height: 40px;
  background-color: var(--prm-color);
  color: #fff;
}

.done {
  background-color: var(--prm-color);
  color: #fff;
}

.step-item {
  z-index: 10;
  text-align: center;
}

.container_progress {
  position: absolute;
  top: 0;
  left: 14px;
  margin-top: 1rem;
  width: 100%;
  padding: 0 1rem;
}
@media (min-width: 564px) {
  .container_progress {
    padding: 0 2rem;
  }
}

.progress {
  -webkit-appearance: none;
  width: 100%;
  z-index: 5;
  height: 5px;
  /* margin-bottom: 25px; */
}

.progress::-webkit-progress-bar {
  background-color: #0381ff;
}
